appnope==0.1.0
awscli==1.11.170
bleach==2.1.1
botocore==1.7.28
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.7
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.7.1
docutils==0.14
en-core-web-sm==2.0.0
entrypoints==0.2.3
flake8==2.5.5
flake8-docstrings==1.1.0
flake8-double-quotes==0.0.1
flake8-import-order==0.13
flake8-polyfill==1.0.1
ftfy==4.4.3
graphviz==0.8.1
greenlet==0.4.12
hacking==0.13.0
html5lib==1.0b10
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
jedi==0.11.0
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.2.1
mglearn==0.1.6
mistune==0.7.4
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
neovim==0.1.13
nltk==3.2.5
notebook==5.2.0
numpy==1.13.3
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.0
pathlib==1.0.1
pbr==3.1.1
pep257==0.7.0
pep8==1.5.7
pep8-naming==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.3.7
pycodestyle==2.3.1
pydocstyle==2.0.0
pyflakes==0.8.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.4.5
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
spacy==2.0.5
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
thinc==6.10.2
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.5
traitlets==4.3.2
ujson==1.35
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.6
wrapt==1.10.11
